* {
  box-sizing: border-box;
}
body {
  background-color: rgba(72, 163, 0, 0.07);
  font-family: "Poppins", sans-serif;
  margin: 0;
}
main {
  padding: 0 16px 30px;
}
.title {
  font-size: 64px;
  color: #48a300;
  text-align: center;
}
.title span {
  color: #61481c;
}
.app-container {
  background-color: #fbfbfb;
  max-width: 660px;
  margin-inline: auto;
  border-radius: 15px;
  padding: 32px 42px;
  box-shadow: 0 0 8px 5px rgba(72, 163, 0, 0.07);
}
/* .subtitle {
  font-size: 32px;
} */
.sun-icon {
  vertical-align: middle;
  margin-left: 16px;
}
.progress-label {
  font-size: 14px;
  color: #858585;
  margin-bottom: 20px;
}

.progress-bar {
  height: 30px;
  background-color: rgba(72, 163, 0, 0.1);
  border-radius: 15px;
  margin-bottom: 42px;
}
.progress-value span {
  padding-left: 20px;
}
.progress-value {
  height: 100%;
  width: 0%;
  background-color: #48a300;
  border-radius: 15px;
  font-size: 10px;
  font-weight: 500;
  color: #fff;
  display: flex;
  align-items: center;
  width: 0;
  overflow: hidden;
  transition: width 0.2s ease-in-out;
}
.error {
  font-size: 12px;
  color: #ff5151;
  margin-block: 0;
  margin-top: 4px;
  display: none;
}
.show-error .error {
  display: block;
}
.goal-container {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 17px;
  height: 82px;
  display: flex;
  align-items: center;
  padding: 0 24px;
  background-color: #fff;
  margin-bottom: 42px;
}

.checkbox {
  width: 24px;
  height: 24px;
  border: 2px solid rgba(97, 72, 28, 0.3);
  border-radius: 50px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.goal-input::placeholder {
  color: #d9d9d9d9;
}
.goal-input {
  border: none;
  padding-left: 22px;
  font-family: inherit;
  font-size: 16px;
  outline: none;
  font-weight: 500;
  width: 100%;
  align-self: stretch;
}

.quote {
  font-weight: 500;
  text-align: center;
}
.made-with {
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  color: #858585;
  margin-top: 50px;
}
.completed .checkbox {
  background: #48a300;
  border-color: #48a300;
}
.check-icon {
  display: none;
}
.completed .check-icon {
  display: block;
}
.completed .goal-input {
  color: #48a300;
  text-decoration: line-through;
}

@media (max-width: 768px) {
  .title {
    font-size: 32px;
  }
  .app-container {
    padding: 16px 20px;
  }
  .goal-container {
    height: 64px;
    margin-bottom: 24px;
    border-radius: 12px;
  }
  .checkbox {
    width: 18px;
    height: 18px;
  }
  .made-with {
    margin-top: 30px;
  }
  .progress-bar {
    height: 24px;
  }
}
